#header {
    display: flex;
    /* border: 2px solid black; */
    min-height: 46px;
    box-sizing: border-box;
    padding-left: 16px;
    /* padding-top: 1px; */
    align-items: flex-center;
    /* justify-content: flex-end; */
}

.logo {
    font-size: 18px;
    font-family: "Libertinus Serif";
    letter-spacing: 1.5px;
    margin: 0;
    margin-right: auto;
}

.logo-font {
    font-size: 23px;
}

.nav-wiki {
    flex-direction: row-reverse;
    margin: 0;
    margin-top: 5px;
    margin-right: 18px;
}

#donate {
    margin-right: 18px;
}

#name-title {
    font-family: "Libertinus Serif";
    font-size: 32px;
    margin-left: 18px;
    margin-bottom: 16px;
}

#hr-line {
    height: 1px;
    margin: 0 14px 0;
    padding: 0;
    background-color: black;
    /* position: absolute; */
}

.below-hr {
    margin: 8px 16px 6px;
    font-size: 15px;
}

#hr-line-below {
    height: 1px;
    margin: 0 14px 0;
    padding: 0;
    background-color: rgb(193, 189, 189);
}

#main-para {
    margin: 8px 16px 6px;

}

.para {
    font-size: 16px;
}

#name-para {
    font-weight: bolder;
}