#header {
    display: flex;
    /* border: 2px solid black; */
    min-height: 46px;
    box-sizing: border-box;
    padding-left: 16px;
    /* padding-top: 1px; */
    align-items: flex-center;
    /* justify-content: flex-end; */
}

.logo {
    font-size: 18px;
    font-family: "Libertinus Serif";
    letter-spacing: 1.5px;
    margin: 0;
    margin-right: auto;
}

.logo-font {
    font-size: 23px;
}


.nav-wiki {
    flex-direction: row-reverse;
    margin: 0;
    margin-top: 5px;
    margin-right: 18px;
}

a {
    text-decoration: none;
    color: #3366cc;
}

a:hover {
    text-decoration: underline;
}

#donate {
    margin-right: 18px;
}

#name-title {
    font-family: "Libertinus Serif";
    font-size: 32px;
    margin-left: 18px;
    margin-bottom: 16px;
}

#hr-line {
    height: 1px;
    margin: 0 14px 0;
    padding: 0;
    background-color: black;
    /* position: absolute; */
}

.below-hr {
    margin: 8px 16px 6px;
    font-size: 15px;
}

#hr-line-below {
    height: 1px;
    margin: 0 14px 0;
    padding: 0;
    background-color: rgb(193, 189, 189);
}

#main-para {
    margin: 8px 16px 6px;

}

.para {
    font-size: 18px;
}

#name-para {
    font-weight: bolder;
}

#content {
    margin-left: 48px;
}

#side-info {
    float: right;
    margin: 12px;
    margin-top: 0;
    width: 280px;
    position: relative;
    /* bottom: 12px; */
    border: 1px solid rgb(228, 129, 129);
    background-color: #f8f9fa;
}

#side-title {
    background-color: #cee0f2;
    padding: 5px 8px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
}

img {
    width: 256px;
    
    /* text-align: center; */
}

#side-image {
    text-align: center;
    padding: 8px;
}

.label-img {
    font-size: 12px;
    margin: 0;
}

td {
    padding: 12px;
    
}

table {

  width: 100%;

  border-collapse: collapse;

}

td {

  padding: 3px 8px;

  vertical-align: top;

  border-top: 1px solid #eaecf0; 

}

td:first-child {

  font-weight: bold;

  width: 45%; 

}

p {
    font-size: 18px;
}

#early-life {
    margin: 8px 16px;;
}

h2 {
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 1px solid #a2a9b1;
    margin-right: 300px;
}

#projects {
    margin: 8px 16px;
}

.hackpad, #buzz, .morsed {
    float: left;
    padding: 6px;
    margin-right: 12px;
    background-color: #f8f9fa;
    padding-bottom: 16px;
}

.hackpad p, #buzz p, .morsed p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
}
.hackpad.another, .morsed {
    float: right;
    padding-top: 8px;
}

#article a {
    text-decoration: none;
    color: rgb(68, 66, 66);
}

#reference {
    column-count: 2;
    width: 400px;
    margin-bottom: 100px;
}

#footer {
    border-top: 1px solid #a2a9b1;
    margin: 12px auto 0;
    max-width: 1260px;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    color: #54595d;
}